// details environment

details {
  margin: {
    top: 0;
    bottom: 0.75em;
  }
}

//----------------------------------------------
// Code
//----------------------------------------------
code,
kbd,
pre,
samp {
  font-family: 'Fira Code', Courier, monospace;
  font-size: $font-small;
  color: #b83270;
  background-color: #f5f5f5;
  border-radius:2px;
  margin: {
    left: 2px;
    right: 2px;
  }
}

pre {
  margin: {
    top: 0;
    bottom: 0;
  }
  padding: 2em 0.75em;

  line-height: 1.8;
  // white-space: pre-wrap;
  // word-wrap: break-word;
  //color: $color-black;
  //background: $color-lightgrey;
  border-radius: 5px;
  overflow-y: hidden;
  overflow-x: auto;

  @media (min-width: $mq-med) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  #markdown & {
    // margin-bottom: 1.5rem;

    // @media (min-width: $mq-med) {
    //   min-width: 110%;
    // }
  }

  code {
    padding: 0;
    overflow-x: auto;
  }
}

.highlight code {
  padding: 0.25em 0.5em;
  color: #eee;
  //color: $color-black;
  //background: $color-lightgrey;
}
