*/node_modules/*
*/.ipynb_checkpoints/*
.DS_Store
.sass-cache
old/img/00.png
old/img/01.png
old/img/02.png
old/img/03.png
old/img/04.png
old/img/05.png
old/img/06.png
old/img/07.png
old/img/08.png
old/img/09.png
old/img/10.png
old/img/11.png
old/img/12.png
old/img/13.png
old/img/14.png
old/img/15.png
old/img/16.png
old/img/17.png
old/img/18.png
old/img/19.png
old/img/20.png
old/img/21.png
old/img/22.png
old/img/23.png
old/img/24.png
old/img/25.png
old/img/26.png
old/img/27.png
old/img/28.png
old/img/29.png
old/img/30.png
old/img/31.png
old/img/32.png
old/img/33.png
old/img/34.png
old/img/35.png
old/img/36.png
old/img/37.png
old/img/38.png
old/img/39.png
old/img/40.png
old/img/41.png
old/img/42.png
old/img/43.png
old/img/44.png
old/img/45.png
old/img/46.png
old/img/47.png
old/img/48.png
old/img/49.png
old/img/50.png
old/img/51.png
old/img/52.png
old/img/53.png
old/img/54.png
old/img/55.png
old/img/56.png
old/img/57.png
old/img/58.png
old/img/59.png
old/img/60.png
old/img/61.png
old/img/62.png
old/img/63.png
old/img/64.png
old/img/65.png
old/img/66.png
old/img/67.png
old/img/68.png
old/img/69.png
old/img/70.png
old/img/71.png
old/img/72.png
old/img/73.png
old/img/74.png
old/img/75.png
old/img/76.png
old/img/77.png
old/img/78.png
old/img/79.png
old/index copy.css
old/index copy.html
old/index copy.js
old/index_old.css

*.continuous
bower_components
