//----------------------------------------------
// Page Transition
//---------------------------------------------- 
main,
footer {
  animation: fadeInAnimation ease-in 600ms;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.error-template {

  main,
  footer {
    opacity: 1;
  }
}
