

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transform($value){
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin opacity($value) {
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

$offset: 6px;
$offset-small: 2px;
$bgcolor: #000000;
$break-small: 720px;

// *{
//   box-sizing: border-box;
//   -moz-box-sizing: border-box;
//   -webkit-box-sizing: border-box;
// }
// body{
//   background: $bgcolor;
//   font-family: 'Bungee', cursive;
//   text-transform: uppercase;
//   font-size: 80px;
//   font-weight: bold;
//   margin: 0;
// }
.root{
  position: absolute;
  top: 10%;
  // @include transform(translateY(-50%) translateX(-50%));
  left: 10%;
}
.text{
  font-size: 80px;
  line-height: 80px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  font-family: 'Bungee', cursive;
  top: 0;
  // left: -$offset;
  color: red;
  mix-blend-mode: screen;
  position: relative;
  white-space: nowrap;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
   filter: blur(1px);
  @include animation('skew 2s infinite');
  //'flash 1s infinite'
  
  &:after, &:before{
    content: attr(data-text);
    position: absolute;
    mix-blend-mode: screen;
  }
  &:after{
    top: 0;
    left: $offset;
    color: yellow;
    @include animation('move 1.5s infinite');
  }
  &:before{
    top: -0.4*$offset;
    left: 0.6*$offset;
    color: limegreen;
  }
  @media screen and (max-width: $break-small) {
    font-size: 48px;
    line-height: 48px;
  }
}

.subtext{
  font-size: 40px;
  line-height: 40px;
  // font-weight: bold;
  margin: 0;
  // text-transform: uppercase;
  font-family: 'Cutive', serif;
  top: 16pt;
  // left: -$offset;
  color: yellow;
  mix-blend-mode: screen;
  position: relative;
  white-space: nowrap;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
   filter: blur(1px);
  @include animation('skew 2s infinite');
  //'flash 1s infinite'
  
  &:after, &:before{
    content: attr(data-text);
    position: absolute;
    mix-blend-mode: screen;
  }
  &:after{
    top: 0;
    left: $offset-small;
    color: red;
    @include animation('move 1.5s infinite');
  }
  &:before{
    top: -0.4*$offset-small;
    left: 0.6*$offset-small;
    color: rgba(255,0,0,1);
  }
    @media screen and (max-width: $break-small) {
    font-size: 36px;
    line-height: 36px;
  }
}

.line{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: rgba(255,0,128,0.3);
  mix-blend-mode: screen;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  filter: blur(1px);
  &:after, &:before{
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    mix-blend-mode: screen;
  }
  &:after{
    top: 2px;
    background:rgba(255,0,0,0.3);
  }
  &:before{
    top: -2px;
    background: rgba(213,137,54,0.3);
  }
}
  


@include keyframes(skew){
  0%    { @include transform(none) }
  30%   { @include transform(none) }
  30.2% { @include transform(skewX(50deg)) }
  30.4% { @include transform(skewX(-50deg)) }
  31%   { @include transform(none) }
}
@include keyframes(move){
  0%   { @include transform(none); }
  30%  { @include transform(none); }
  31%  { @include transform(translateX(-$offset)) }
  33%  { @include transform(none); }
  98%  { @include transform(none); }
  100% { @include transform(translateX($offset)) }
}
@include keyframes(flash){
  0%   { @include opacity(1) }
  50%  { @include opacity(0.5) }
}
@include keyframes(lines){
  0%   { @include opacity(0.1) }
  50%  { @include opacity(1) }
}