#overlay {
	position: fixed;
	top: 40%;
	width: 100%;
	color: #FCCC0A;
	text-align: center;
	margin: auto;
	font-family: 'Cutive Mono', monospace;
	font-size: 2.5rem;

  background: rgba(0, 0, 0, 0.8);
}

#overlay a {
	color: #EEEEEE;
	border: 0px;
	text-decoration: underline red wavy;
	  background: transparent;
}